#header
{
	background-color: #f4511e; /* Orange */
  color: #ffffff;
	height:100px;
	padding-left:25px;
	padding-top:25px;
}
#footer
{
	background-color: #f4511e; /* Orange */
  color: #ffffff;
	height:50px;
	padding-left:25px;
	padding-top:25px;
	text-align:center;
	
}
.w3schools-logo {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #ffffff;
    
   
}
.w3schools-logo .dotcom {
    color: #4CAF50;
}
.copyright {
    display: inline-block;
    color: #e4e4e4;
    font-size: 1.3rem;
    font-family: Lato-Light;
}
