@CHARSET "ISO-8859-1";

#toprow ul li
{
float:right;

}
#rightblock
{
	
	font-family: "Times New Roman", Times, serif;
}
#rightblock ul li a
{
background-color:#5cb85c;

color: #ffffff;
    text-align: center;
	
}

#submitRequest
{
	
	background-color: #5cb85c;
    color:white !important;
    text-align: center;
   
	
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  
  .modal-body
  {
  
  font-family: "Times New Roman", Times, serif;
  }