#signinform
{
	background-color:#FFFFFF;
	font-family: "Times New Roman", Times, serif;
}

.navTop{
width:100%;
border:1px solid black;
float:left;
}
.container{
width:100%;
float:left;
overflow:scroll;
}
.bottomFooter{
float:left;
border:1px solid black;
width:100%;
}

#signheader
{
border-radius:15px;
padding-bottom:40px;
background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
    padding:20px;
    margin-bottom:20px;	
	
	
}
.submit
{
	
	background-color: #5cb85c;
    color:white !important;
    text-align: center;
   
	
}
