<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 <welcome-file-list>  
   <welcome-file>login.html</welcome-file> 
   <welcome-file>agentlogin.html</welcome-file> 
   <welcome-file>H_subpage.html</welcome-file> 
    <welcome-file>pricing.html</welcome-file> 
    <welcome-file>home_menu.jsp</welcome-file>
     <welcome-file>agenthome_menu.jsp</welcome-file> 
   <welcome-file>home.jsp</welcome-file>  
   <welcome-file>agenthome.jsp</welcome-file> 
  </welcome-file-list> 
  <display-name>Archetype Created Web Application</display-name>
  <session-config>
		<session-timeout>20</session-timeout>
	</session-config>
  	<servlet>
		<servlet-name>RESTServices</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.trs.config.ITRApplications</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTServices</servlet-name>
		<url-pattern>/v1/*</url-pattern>
	</servlet-mapping> 
	<servlet>
	<servlet-name>CreateUserServlet</servlet-name>
	<servlet-class>com.trs.servlet.CreateUserServlet</servlet-class>
	<load-on-startup>6</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>CreateUserServlet</servlet-name>
	<url-pattern>/createuser</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CreateAgentServlet</servlet-name>
	<servlet-class>com.trs.servlet.CreateAgentServlet</servlet-class>
	<load-on-startup>10</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>CreateAgentServlet</servlet-name>
	<url-pattern>/createagent</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>AgentLoginServlet</servlet-name>
	<servlet-class>com.trs.servlet.agentloginservlet</servlet-class>
	<load-on-startup>1</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>AgentLoginServlet</servlet-name>
	<url-pattern>/agentlogin</url-pattern>
	</servlet-mapping>
		<servlet>
	<servlet-name>AgentLogoutServlet</servlet-name>
	<servlet-class>com.trs.servlet.AgentLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AgentLogoutServlet</servlet-name>
	<url-pattern>/agentlogout</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.trs.servlet.MyLoginServlet</servlet-class>
	<load-on-startup>0</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/login</url-pattern>
	
	</servlet-mapping>
	<servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>com.trs.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Logout</servlet-name>
	<url-pattern>/logout</url-pattern>
	</servlet-mapping>
		<servlet>
	<servlet-name>DownloadServlet</servlet-name>
	<servlet-class>com.trs.servlet.DownloadServlet</servlet-class>
	<load-on-startup>2</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>DownloadServlet</servlet-name>
	<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ITRFilingRequest</servlet-name>
	<servlet-class>com.trs.servlet.FilingRequest</servlet-class>
	<load-on-startup>3</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>ITRFilingRequest</servlet-name>
	<url-pattern>/returnfilingreq</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ModifyITRFilingRequest</servlet-name>
	<servlet-class>com.trs.servlet.ModifyITRReqServlet</servlet-class>
	<load-on-startup>4</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>ModifyITRFilingRequest</servlet-name>
	<url-pattern>/modifyITR</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ModifyAgentITRRequestServlet</servlet-name>
	<servlet-class>com.trs.servlet.ModifyAgentITRRequestServlet</servlet-class>
	<load-on-startup>5</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>ModifyAgentITRRequestServlet</servlet-name>
	<url-pattern>/modifyAgentITR</url-pattern>
	</servlet-mapping>
		<servlet>
	<servlet-name>SupportRequestServ</servlet-name>
	<servlet-class>com.trs.servlet.SupportRequestServ</servlet-class>
	<load-on-startup>5</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>SupportRequestServ</servlet-name>
	<url-pattern>/supportServ</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ForgotPasswordServlet</servlet-name>
	<servlet-class>com.trs.servlet.ForgotPasswordServlet</servlet-class>
	<load-on-startup>8</load-on-startup> 
	</servlet>
	<servlet-mapping>
	<servlet-name>ForgotPasswordServlet</servlet-name>
	<url-pattern>/forgotpassword</url-pattern>
	</servlet-mapping>
	<context-param>
	<param-name>Cache-Control</param-name>
	<param-value>no-cache,no-store,must-revalidate</param-value>
	</context-param>
	<context-param>
	<param-name>Pragma</param-name>
	<param-value>no-cache</param-value>
	</context-param>
	<context-param>
	<param-name>Expires</param-name>
	<param-value>0</param-value>
	</context-param>
</web-app>
